.calendar-demo {
    display: flex;
    flex-flow: column;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.calendar-header-demo {
    margin-bottom: 0.2em;
}

.calendar-demo-main {
    display: flex;
    flex: 1 1 0px;
    flex-flow: row;
    justify-items: center;
}

.calendar-demo-calendar {
    flex: 1;
}

// .calendar-demo-side {
//     flex: 0.5;
// }
